////
//// Grid system
//// --------------------------------------------------
//
//
//// Container widths
////
//// Set the container width, and override it for fixed navbars in media queries.
//
.container {
  .container-fixed();

  @media (min-width: @screen-xl-min) {
    width: @container-xl;
  }

  @media (min-width: @screen-xxl-min) {
    width: @container-xxl;
  }
}

// XL grid
//
// Columns, offsets, pushes, and pulls for the large desktop device range.

@media (min-width: @screen-xl-min) {
  .make-grid(xl);
}

// XXL grid
//
// Columns, offsets, pushes, and pulls for the large desktop device range.

@media (min-width: @screen-xxl-min) {
  .make-grid(xxl);
}
